<div class="panel" ng-class="{'panel-danger': !validation, 'panel-success': validation}">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'MATERIALIEN' | translate }} <span class="badge">{{ selection.length }}</span> <span class="glyphicon" ng-class="{'glyphicon-ok': validation, 'glyphicon-warning-sign': !validation}"></span></h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label pull-right">{{ 'MATERIAL' | translate }}</label>
                </div>
                <single-tree-select
                        id="Material"
                        tree-model="treeModel"
                        selection="tempMaterial"
                        btn-div-class="col-xs-1"
                        select-div-class="col-xs-3"
                        prepared-flatten-list="selectableMaterialien"
                        placeholder="{{ 'MATERIAL' | translate }}">
                </single-tree-select>

                <div class="col-xs-2">
                    <label class="control-label">{{ 'MATERIALEINDRUCK' | translate }}</label>
                </div>
                <div class="col-xs-3">
                    <ui-select ng-model="$parent.tempMaterialImpression"
                               theme="bootstrap"
                               reset-search-input="true">
                        <ui-select-match placeholder="{{ 'MATERIALEINDRUCK' | translate }}">{{ $select.selected.Materialeindruckname }}</ui-select-match>
                        <ui-select-choices repeat="item.Materialeindruckname as item in selectableMaterialeindruecke | filter: {Materialeindruckname: $select.search}">
                            <div ng-bind-html="item.Materialeindruckname | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-xs-1 pull-right">
                    <button ng-click="addMaterialToSelection(tempMaterial, tempMaterialImpression)"
                            class="btn btn-primary btn-xs"><span
                            class="glyphicon glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>
    </div>
    <table ng-hide="selection.length === 0" id="Materials" class="table table-hover">
        <thead>
        <tr>
            <th style="width: 40%">{{ 'MATERIALNAME' | translate }}</th>
            <th style="width: 40%">{{ 'MATERIALEINDRUCK' | translate }}</th>
            <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in selection | orderBy:'Materialname'">
            <td>{{m.Materialname}}</td>
            <td>{{m.Materialeindruck}}</td>
            <td>
                <!-- Delete Material-->
                <button ng-click="deleteMaterialFromSelection(m)" class="btn btn-danger btn-xs pull-right"
                        tooltip-html-unsafe="{{ 'MATERIALLOESCHEN' | translate }}"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>